
@{
    ViewBag.Title = "PoliceDashboard";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PoliceDashboard</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .card-header {
            background: teal;
            color: white;
            height: 60px;
        }

        .panel-title {
            color: teal;
        }

        .buttons .button {
            background: teal; /* Green */
            margin-top: 10px;
            color: white;
            padding: 10px 40px;
            text-align: center;
            align-items: center;
            height: 50px;
            text-decoration: none;
            font-size: 20px;
            cursor: pointer;
            width: 250px;
            display: block;
        }

        .btn-group .button:not(:last-child) {
            border-bottom: none; /* Prevent double borders */
        }

        .btn-group .button:hover {
            background-color: teal;
        }
    </style>
</head>
<body>
    <div class="card-header text-center">
        <h1>SafeZone</h1>
        @*<p>Welcome <u>@TempData["LoginSuccessMessage"]</u></p>*@
    </div>
    <br />
    <div class="panel-title text-center">
        <h2>Welcome Dear Police</h2>
    </div>
    <br />
    <center>
        <div class="buttons">
            <button class="button" onclick="document.location='https://localhost:44315/ReportIncident/Reportlist'">Approve Reports</button>
            <button class="button" onclick="document.location='https://localhost:44315/PoliceSignup/Index'">Exit</button>
        </div>
    </center>
</body>
</html>
